PORT = your port number goes here
MONGO_URI = your mongodb connection string goes here
CORS_ORIGIN = www.example.com 
ACCESS_TOKEN_SECRET=Enter your token
ACCESS_TOKEN_EXPIRY=Enter your token expiry
REFRESH_TOKEN_SECRET=Enter your token
REFRESH_TOKEN_EXPIRY=Enter your token expiry
CLOUDINARY_API_SECRET=Enter your cloudinary api secret
CLOUDINARY_API_KEY=Enter your cloudinary api key
CLOUD_NAME=Enter your cloudinary cloud name
